@model IEnumerable<ApprovePro>
@{
    ViewBag.Title = "Listing Approve Details";
    ViewBag.PageTitle = "Listing Approve Details";
    Layout = "~/Views/Shared/_LandLordsLayout.cshtml";
    int i = 1;
}
<div class="card">
    <div class="card-body table-responsive">
        <table id="prpertytype" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="text-nowrap">
                    <th>S. No</th>
                    <th>Property Id</th>
                    <th>Property Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Approved By</th>
                    <th>Unique Name</th>
                    <th>Verified By</th>
                </tr>
            </thead>
            <tbody class="text-nowrap">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.PropertyId</td>
                        <td>@item.Name</td>
                        <td>
                            @if (item.CreatedDate.HasValue)
                            {
                                @item.CreatedDate.Value.ToShortDateString()
                            }
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                @:Active
                            }
                            else
                            {
                                @:InActive
                            }
                        </td>
                        <td>@item.ApprovedBy</td>
                        <td>@item.UniqueName</td>
                        <td>@item.VerifiedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        $('#prpertytype').DataTable({
            "scrollX": true
        });

    </script>
}
