@model Testimonial
@{
    ViewBag.Title = "Testimonial Create";
    ViewBag.PageTitle = "Testimonial Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="/Admin/AcTestimonialsCreate" method="post" class="row g-0" enctype="multipart/form-data">

                    <div class="col-12">
                        @Html.HiddenFor(m => m.Id, new {@Value="0"})
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Name, "Enter Name", new { @class = "from-label mb-2" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                         <div class="mb-3">
                            @Html.LabelFor(m => m.Title, "Enter Title", new { @class = "from-label mb-2" })
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Description, "Enter Description", new { @class = "from-label mb-2" })
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Upload Image :</label>
                            <input type="file" id="formFile" name="formFile" class="form-control" data-val="true" data-val-required="Upload Image" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="formFile" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                        <button type="reset" class="btn btn-danger ms-3">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>