@model PropertyDetail

@section Styles {
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .mh3 {
            font-size: 32px;
            font-weight: 700;
            border-bottom: 1px solid #000;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        .about-img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .contact-info {
            font-size: 1.1rem;
            color: #6c757d;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .contact-info h2 {
                font-size: 2rem;
                margin-top: 1rem;
                color: #0d6efd;
            }

            .contact-info p, .contact-info a {
                margin-bottom: 1.2rem;
                color: #6c757d;
                font-size: 1.1rem;
                text-decoration: none;
            }

                .contact-info a:hover {
                    color: #0d6efd;
                }

            .contact-info i {
                margin-right: 10px;
            }

            .contact-info p:last-child {
                margin-bottom: 0;
            }
    </style>

}
<div class="container my-5">
    <h1 class="text-primary text-center mh3">Property Details</h1>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image1" alt="Property Image 1" class="img-fluid" />
        </div>

        <div class="col-md-3">
            <h5><b>Property ID: </b> @Model.PropertyId</h5>
            <h5><b>Parking (Two Wheeler): </b> @Model.ParkingTypeName</h5>
            <h5><b>Parking (Visitor): </b> @Model.ParkingVisitorName</h5>
        </div>

        <div class="col-md-3">
            <h5><b>BHK Type: </b> @Model.BHKTypeName @Model.FloorTypeName</h5>
            <h5><b>Nearby: </b> M.S College</h5>
            <h5><b>Rent (Monthly): </b> @Model.MonthlyRent</h5>
        </div>

        <div class="col-md-3">
            <h5><b>Toilet Type: </b>@Model.ToiletTypeName</h5>
            <h5><b>Muhalla: </b> @Model.ColonyName</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image2" alt="Property Image 2" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <h5><b>CC TV Camera: </b> @Model.CC_TV</h5>
            <h5><b>Furnished: </b> @Model.FurnishedName</h5>
        </div>
        <div class="col-md-3">
            <h5><b>Time In: </b> @Model.TimeIn</h5>
            <h5><b>Time Out: </b> @Model.TimeOut</h5>
        </div>
        <div class="col-md-3">
            <h5><b>Stair: </b> @Model.StairName</h5>
            <h5><b>Roof Access: </b> @Model.RoofName</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image3" alt="Property Image 3" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <h5><b>First Priority: </b> @Model.FirstPrioName</h5>
            <h5><b>Number of Members: </b> @Model.NoOfMembers</h5>
        </div>
        <div class="col-md-3">
            <h5><b>Religion: </b> @Model.ReligionName</h5>
            <h5><b>Cooking: </b> @Model.CookingName</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image4" alt="Property Image 4" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <h5><b>Water: </b> @Model.WaterName</h5>
            <h5><b>LPG: </b> @Model.LpgName</h5>
        </div>
        <div class="col-md-3">
            <h5><b>Electricity: </b> @Model.ElectricityName</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image5" alt="Property Image 5" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <h5><b>Monthly Rent: </b> @Model.MonthlyRent</h5>
            <h5><b>Security Deposit: </b> @Model.SecurityDeposit</h5>
            <h5><b>Agreement Fee: </b> @Model.AgreementFees</h5>
        </div>
        <div class="col-md-6">
            <h5><b>Agreement Time (Months): </b> @Model.AgreementTime</h5>
            <h5><b>Vacancy Period (Before Month): </b> @Model.InVacantTime</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <img src="@Model.Image6" alt="Property Image 6" class="img-fluid" />
        </div>
        <div class="col-md-3">
            <h5><b>Railway Station: </b> @Model.RailwayName</h5>
            <h5><b>Bus Station: </b> @Model.BusName</h5>
            <h5><b>DM Office: </b> @Model.DmOfficeName</h5>
        </div>
        <div class="col-md-3">
            <h5><b>School (Govt): </b> @Model.SchoolGovName</h5>
            <h5><b>School (Private): </b> @Model.SchoolPvtName</h5>
            <h5><b>Bank (Govt): </b> @Model.BankGovName</h5>
        </div>
        <div class="col-md-3">
            <h5><b>Hospital (Govt): </b> @Model.HospitalGovName</h5>
            <h5><b>Hospital (Private): </b> @Model.HospitalPvtName</h5>
            <h5><b>Bank (Private): </b> @Model.BankPvtName</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h5><b>Description: </b> @Model.Description</h5>
        </div>
        <div class="col-12 text-end">
            <a href="/Rental/AddWishList?Pid=@Model.PropertyId" class="btn btn-success btn-sm">Add To WishList</a>
        </div>
    </div>
</div>
