@model UserDetailsView
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User Registration</title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="/Content/AdminLayouts/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/AdminLayouts/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/AdminLayouts/css/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/AdminLayouts/css/style.css" rel="stylesheet">
</head>

<body class="bg-warning">

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pb-2">
                                        <h5 class="card-title text-center text-primary pb-0 fs-4">Create Your Account</h5>
                                    </div>

                                    <form action="/Home/UserRegistration" class="row g-3" method="post">

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Name, new { @class = "form-label text-start" })
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Dob, new { @class = "form-label text-start" })
                                            @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", @type = "date" })
                                            @Html.ValidationMessageFor(m => m.Dob, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Email, new { @class = "form-label text-start" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Mobile, "Mobile No.", new { @class = "form-label text-start" })
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @type = "number" })
                                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Address, new { @class = "form-label text-start" })
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Password, new { @class = "form-label text-start" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.Role, new { @class = "form-label text-start" })<br />

                                            <div class="form-check form-check-inline">
                                                @Html.RadioButtonFor(m => m.Role, "Rental", new { @class = "form-check-input", id = "rental" })
                                                <label class="form-check-label" for="rent">Rental</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButtonFor(m => m.Role, "LandLords", new { @class = "form-check-input", id = "landLords" })
                                                <label class="form-check-label" for="sell">LandLords</label>
                                            </div><br />

                                            @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                                        </div>
                                        <hr />
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/Home/Login" class="link-primary">Back To Login</a>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <button class="btn btn-primary" onclick="return CheckVal()" type="submit">Sign Up</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main>
    <script src="/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (TempData["datachange"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alert('@TempData["datachange"]');
            });
        </script>
    }
    <script>
        function CheckVal() {
            if ($("#Password").val() === $("#ConfirmPassword").val()) {
                return true;
            } else {
                alert('Password Not Match');
                return false;
            }
        }
    </script>
</body>

</html>